html, body {
  margin: 0;
  padding: 0;
  font-family: Arial;
}

html {
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

html body {
  font-size: 62.5%;
  font-family: Josefin Sans;
}

header {
  text-align: center;
}

header > h1 {
  font-size: 6vw;
  color: black;
  padding: 44vh 0 50vh;
  left: 30vw;
  height: 100vh;
  text-shadow: 2px 1px 2px white;
}

main h2 {
  font-size: 4.8vw;
  font-weight: bold;
  margin-top: 1rem;
}

@media only screen and (min-width: 992px)  {
  main h2 {
    font-size: 2em;
  }
}

main .container {
  max-width: 100%;
}

@media only screen and (min-width: 992px)  {
  main .container {
    max-width: 960px;
  }
}

p {
  font-size: 4vw;
}

@media only screen and (min-width: 992px)  {
  p {
    font-size: 1.8em;
  }
}

nav {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 5.4vw;
  text-align: center;
  pointer-events: none;
}

@media only screen and (min-width: 992px)  {
  nav {
    font-size: 1.6em;
  }
}

nav a {
  padding: 0.7rem;
  pointer-events: all;
}

nav a span {
  background: linear-gradient(180deg,rgba(255,255,255,0) 50%, pink 50%);
  padding: 0 4px;
}

nav a:hover span {
  background: pink;
  transition: none;
}

@media only screen and (min-width: 992px)  {
  nav.fixed-bottom {
    top: 0;
    bottom: auto;
    font-size: 1.2rem;
  }
}

nav a:link, nav a:visited {
  color: inherit;
}

ul, ol {
  list-style-type: none;
  padding: 0;
  display: inline;
}

li {
  cursor: pointer;
  display: inline;
  padding: 0;
}

.hide {
  visibility: hidden;
}

.image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 1rem;
}

.toggle-collapse {
  cursor: pointer;
}

.collapse-hide {
  box-sizing: border-box;
  padding: 0 1rem;
  max-height: 0;
  overflow: hidden;
}

@media only screen and (min-width: 992px)  {
  .collapse-hide {
    transition: max-height .5s cubic-bezier(0, 1, 0, 1);
  }
}

.collapse-show {
  background-color: pink;
  padding: 0 1rem 1rem;
  max-height: 99em;
}

@media only screen and (min-width: 992px)  {
  .collapse-show {
    transition: max-height .5s ease-in-out;
  }
}

.fatta {
  color: white;
  background-color: black;
  background-image: url("img/fatta.png");
  height: 212px;
}

.canyoudrinkthewater {
  background-color: lightblue;
  /* background-image: url("../img/canyoudrinkthewater.png"); */
  /* height: 220px; */
}

.collapse-canyoudrinkthewater {
  background-color: lightskyblue;
}

.hope {
  background-image: url("img/hope.jpg");
  height: 320px;
}

.ripple {
  background-image: url("Studio\ Ripple/StudioRipple2.0\ copy.png");
  height: 500px;
}

.collapse-ripple {
  background-color: #e0e0e0;
}

#li {
  background-image: url("Cartoon/li-avatar.png");
  height: 500px;
}

#emil {
  background-image: url("Cartoon/emil-avatar_square_white.png");
  height: 500px;
}

#kuma {
  background-image: url("Kuma/RilakkumaKorilakkuma.gif");
  height: 500px;
}

.contact-1 {
  padding-bottom: 12.5vw;
}

@media only screen and (min-width: 992px)  {
  .contact-1 {
    padding-bottom: 4vw;
  }
}