html, html > body {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", Helvetica, Arial, sans-serif;
  scroll-behavior: smooth;
  max-width: 100%;
}

html > body {
  font-size: 62.5%;
}

@media screen and (prefers-reduced-motion: reduce) {
  html, html > body {
    scroll-behavior: auto;
  }
}

footer {
  font-size: 1rem;
  padding: 2rem;
  height: 16rem;
  position: relative;
  background: #afbccd;
  color: white;
  text-align: center;
}

footer p {
  text-align: left;
  max-width: 16em;
  margin-bottom: 2em;
}

footer #hello {
  float: left;
}

footer a, nav a, footer a:link, nav a:link, footer a:visited, nav a:visited {
  color: white;
}

footer > a {
  text-decoration: underline;
}

footer > address {
  float: right;
  font-size: 2em;
  margin: -0.5em 0 0;
}

address a + a {
  margin-left: 0.5em;
}

a.close-nav svg {
  height: 2em;
  fill: white;
}

header {
  overflow: hidden;
  text-align: center;
  background: #bf708d;
}

header h1 {
  font-size: 3.0em;
  font-weight: bold;
  color: white;
  padding: 44vh 0 0;
  height: 100vh;
}

.work header {
  text-align: left;
  padding-left: 3em;
}

.work h1 {
  font-size: 4em;
  padding: 3em 0 0;
  height: 4em;
}

.work h2, .work h3, .work p {
  font-family: 'Fira Sans';
}

.triangular {
  width: 0;
  height: 0;
  border-bottom: 8em solid white;
  border-left: 125em solid transparent;
  border-left: 100vw solid transparent;
}

.triangular.mirrored {
  border-left: none;
  border-right: 125em solid transparent;
  border-right: 100vw solid transparent;
}

main h3 {
  font-size: 1.4em;
  font-weight: 300;
  margin: 0;
  background-color: rgb(244, 204, 204);
  display: inline;
}

main p {
  font-size: 1.4em;
}

section {
  position: relative;
}

video {
  max-width: 100%;
}

section#hope-section2 {
  text-align: center;
  overflow-x: hidden;
}

.image {
  background-position: center;
  background-position-y: top;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 1.4em;
}

.view.overlay .mask {
  transition: all .2s ease-in-out;
}

#description {
  background-color: rgb(243, 243, 243);
  position: absolute;
  padding: 1em;
  left: 2em;
  width: 30.4em;
  top: 14.4em;
}

#description p {
  margin-left: 8em;
}

#ripple-section1 {
  height: 124em;
}

#ripple-section2 {
  height: 120em;
}

#allin-section1 {
  height: 146em;
}

#allin-section2 {
  height: 106em;
}

#hope-section1 {
  height: 106em;
}

#hope-section1 #description {
  top: 26em;
}

#hope-section3 {
  height: 50em;
}

#ripple-img1 {
  background-image: url("img/ripple/ripple_1.png");
  position: absolute;
  top: -2em;
  right: 4em;
  width: 18em;
  height: 24em;
}

#ripple-img2 {
  background-image: url("img/ripple/ripple_2.png");
  position: absolute;
  z-index: -1;
  top: 0;
  left: 4em;
  right: 4em;
  height: 18em;
}

#ripple-img3 {
  background-image: url("img/ripple/ripple_3.png");
  position: absolute;
  top: 22em;
  left: 4em;
  right: 4em;
  height: 18em;
}

#ripple-img4 {
  background-image: url("img/ripple/ripple_4.png");
  position: absolute;
  top: 42em;
  left: 2em;
  right: 2em;
  height: 35em;
}

#ripple-img5 {
  background-image: url("img/ripple/ripple_5.png");
  position: absolute;
  top: 78.4em;
  left: 2em;
  right: 2em;
  height: 38em;
  margin-bottom: 4em;
}

#allin-img1 {
  background-image: url("img/allin/allin_1.png");
  position: absolute;
  top: 0;
  left: 1em;
  right: 1em;
  height: 28em;
}

#allin-img2 {
  background-image: url("img/allin/allin_2.png");
  position: absolute;
  top: 0;
  left: 1em;
  right: 1em;
  height: 28em;
}

#allin-img3a {
  background-image: url("img/allin/allin_3a.jpg");
  position: absolute;
  top: 24em;
  left: 1em;
  right: 1em;
  height: 26em;
}

#allin-img3b {
  background-image: url("img/allin/allin_3b.jpg");
  position: absolute;
  top: 24em;
  left: 1em;
  right: 1em;
  height: 26em;
}

#allin-img4 {
  background-image: url("img/allin/allin_4.jpg");
  position: absolute;
  top: 48em;
  left: 1em;
  right: 1em;
  height: 26em;
}

#allin-img5 {
  background-image: url("img/allin/allin_5.png");
  position: absolute;
  top: 76em;
  left: 1em;
  right: 1em;
  height: 26em;
}

#allin-img6 {
  background-image: url("img/allin/allin_6.jpg");
  position: absolute;
  top: 76em;
  left: 1em;
  right: 1em;
  height: 26em;
}

#allin-img7a {
  background-image: url("img/allin/allin_7a.png");
  position: absolute;
  top: 24em;
  left: 1em;
  right: 1em;
  height: 26em;
}

#allin-img7b {
  background-image: url("img/allin/allin_7b.png");
  position: absolute;
  top: 24em;
  left: 1em;
  right: 1em;
  height: 26em;
}

#allin-img8 {
  background-image: url("img/allin/allin_8.jpg");
  position: absolute;
  top: 76em;
  left: 1em;
  right: 1em;
  height: 26em;
}

#allin-img9 {
  background-image: url("img/allin/allin_9.png");
  position: absolute;
  top: 76em;
  left: 1em;
  right: 1em;
  height: 26em;
}

#hope-img1 {
  background-image: url("img/hope/hope_1.png");
  position: absolute;
  top: 0;
  left: 1em;
  right: 1em;
  height: 28em;
}

#hope-img2 {
  background-image: url("img/hope/hope_2.jpg");
  position: absolute;
  top: 0;
  left: 1em;
  right: 1em;
  height: 28em;
}

#hope-img3 {
  background-image: url("img/hope/hope_3.jpg");
  position: absolute;
  top: 24em;
  left: 1em;
  right: 1em;
  height: 26em;
}

#hope-img4 {
  background-image: url("img/hope/hope_4.jpg");
  position: absolute;
  top: 24em;
  left: 1em;
  right: 1em;
  height: 26em;
}

#hope-img5 {
  background-image: url("img/hope/hope_5.jpg");
  position: absolute;
  top: 24em;
  left: 1em;
  right: 1em;
  height: 26em;
}

@media only screen and (min-width: 768px) {
  .work h1 {
    font-size: 7em;
    padding-top: 1em;
    height: 3em;
    margin: 0;
  }

  .header-container, section {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
  }

  main h3 {
    font-size: 1.4em;
  }

  main p {
    font-size: 1.4em;
  }

  video {
    position: absolute;
    top: 0;
    left: 50%;
    width: 36em;
  }

  #description {
    left: unset;
    right: calc(50% - 8em);
    width: 44em;
  }

  #ripple-section1 {
    height: 86em;
  }

  #ripple-section2 {
    height: 184em;
  }

  #allin-section1 {
    height: 104em;
  }

  #allin-section2 {
    height: 168em;
  }

  #hope-section1 {
    height: 90em;
  }

  #hope-section2 {
    height: 70em;
  }

  #hope-section3 {
    height: 50em;
  }

  #ripple-img1 {
    width: 33em;
    height: 44em;
    left: 50%;
    top: 2em;
  }

  #ripple-img2 {
    left: 16em;
    right: 16em;
    height: 22em;
    transform: translateX(-15em);
  }

  #ripple-img3 {
    top: 18em;
    left: 16em;
    right: 16em;
    height: 20em;
    transform: translateX(13em);
  }

  #ripple-img4 {
    height: 64em;
  }

  #ripple-img5 {
    top: 110em;
    height: 70em;
  }

  #allin-img2 {
    height: 50em;
  }

  #allin-img3 {
    top: 40em;
    height: 50em;
  }

  #allin-img4 {
    top: 96em;
    height: 62em;
    left: unset;
    right: calc(50% + 1em);
    width: 36em;
  }

  #allin-img5 {
    top: 128em;
    height: 32em;
    left: calc(50% + 1em);
    right: unset;
    width: 37em;
  }

  #hope-img1 {
    width: 33em;
    height: 44em;
    left: 50%;
    top: 2em;
  }

  #hope-img2 {
    height: 34em;
    transform: translateX(-10em);
  }

  #hope-img3 {
    top: 24em;
    height: 26em;
    transform: translateX(14em);
  }
}
