.scroll-please {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 12vh;
  color: white;
  font-size: 2.2em;
	-webkit-animation: bounce-bottom 10s ease-in 1s backwards;
	        animation: bounce-bottom 10s ease-in 1s backwards;
}

.scroll-please em {
  font-style: normal;
}

.scroll-please .vertical-line {
  position: absolute;
  border-left: 1px solid white;
  margin: 5px 50%;
  padding: 12vh 1px;
}

section {
  position: relative;
}

main h2 {
  font-size: 4em;
  font-weight: bold;
  margin-top: 1.4em;
  color: #5c677b;
  padding-left: 1em;
}

h2.logo {
  font-size: 2em;
  color: #bf708d;
}

h2.right {
  text-align: right;
  padding-right: 1em;
}

.image {
  background-position: center;
  background-position-y: top;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 1.4em;
  width: 100%;
  height: 100%;
}

.view.overlay .mask {
  transition: none;
  cursor: pointer;
}

#about-section {
  height: 48em;
  overflow: initial;
}

#about-description-background {
  background-color: #7a8aa1;
  top: 12em;
  right: calc(50% - 9em);
  left: auto;
  position: absolute;
  max-width: 30em;
  padding: 0 8em 0 0;
  font-size: 0.8em;
}

#about-description {
  color: white;
  text-align: right;
  padding: 1.4em 2.8em;
}

#about-description p {
  margin: 0;
}

#about-description p + p {
  margin-top: 1rem;
}

#about-logo {
  background-image: url("img/home/livide_logo.png");
  position: absolute;
  top: 2em;
  left: 2em;
  height: 6em;
  width: auto;
}

#about-portrait {
  background-image: url("img/home/livide.jpg");
  position: absolute;
  top: 7em;
  right: 2em;
  left: 50%;
  height: 26em;
  width: auto;
}

#hope-teasersection {
  height: 30em;
  overflow: initial;
}

#hope-container {
  position: absolute;
  top: 4em;
  left: 0;
  right: 0;
  height: 24em;
}

#hope-teaser {
  background-image: url("img/home/hope_futureofretail.png");
}

#allin-teasersection {
  height: 30em;
  overflow: initial;
}

#allin-container {
  position: absolute;
  top: 5em;
  left: 2em;
  right: 2em;
  height: 22em;
}

#allin-teaser {
  background-image: url("img/home/allin_stages.png");
}

#ripple-teasersection {
  height: 44em;
  overflow: initial;
}

#ripple-container1 {
  position: absolute;
  top: 5em;
  left: 2em;
  right: 50%;
  height: 25em;
}

#ripple-teaser1 {
  background-image: url("img/home/studio_ripple_logo.png");
}

#ripple-container2 {
  position: absolute;
  top: 20em;
  right: 2em;
  left: 33%;
  height: 25em;
}

#ripple-container2 .mask {
  left: 7em;
}

@media only screen and (min-width: 768px) {
  h1 {
    -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  }

  main h2 {
    font-size: 6em;
    padding: 0 0.5em;
  }

  .view.overlay .mask {
    transition: all .2s ease-in-out;
    opacity: unset;
  }

  .view.overlay .mask:hover {
    opacity: unset;
  }

  #about-section {
    height: 60em;
    padding: 2em 0 4em;
  }

  #about-logo {
    top: 4em;
    height: 8em;
  }

  #about-description-background {
    right: calc(50% - 16em);
    top: 14em;
    max-width: 50em;
    padding: 3em 15em 3em 10em;
    font-size: 1em;
  }

  #about-description {
    color: white;
    text-align: right;
    padding: 1em;
    font-size: 1em;
  }

  #about-portrait {
    top: 10em;
    left: calc(50% + 2em);
    right: unset;
    width: 32em;
    height: 42em;
  }

  #about-description {
    font-size: 1.3em;
  }

  #hope-container {
    position: absolute;
    top: 4em;
    width: 72em;
    right: calc(50% - 4em);
    height: 40em;
  }

  #hope-teasersection {
    height: 88em;
  }

  #allin-container {
    top: 5em;
    left: calc(50% - 26em);
    width: 72em;
    height: 40em;
  }

  #allin-teasersection {
    height: 58em;
  }

  #ripple-container1 {
    left: auto;
    width: 36em;
    height: 48em;
  }

  #ripple-container2 {
    width: 44em;
    left: calc(50% - 7em);
    right: auto;
    height: 70em;
  }

  #ripple-teasersection {
    height: 92em;
  }

  @-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2020-9-12 14:44:44
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
 @-webkit-keyframes bounce-bottom {
  0% {
    -webkit-transform: translateY(45px);
            transform: translateY(45px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(24px);
            transform: translateY(24px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(12px);
            transform: translateY(12px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(6px);
            transform: translateY(6px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(4px);
            transform: translateY(4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}
@keyframes bounce-bottom {
  0% {
    -webkit-transform: translateY(45px);
            transform: translateY(45px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(24px);
            transform: translateY(24px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(12px);
            transform: translateY(12px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(6px);
            transform: translateY(6px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(4px);
            transform: translateY(4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}
