html {
  font-family: Arial;
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

html, body {
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
}

header > h1 {
  margin: 0;
  font-size: 6vh;
  padding: 44vh 0 50vh 0;
}

nav {
  /* background-image: url("../Line\ Work/liprofilecircle_2squarepink.png"); */
  background-color: #eee;
  position: fixed;
  padding: 10px 20px;
  width: 200px;
  height: 100%;
}

nav a:link, nav a:visited {
  text-decoration: inherit;
  color: inherit;
}

ul, ol {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  cursor: pointer;
}

li > a {
  display: block;
  height: 4rem;
  line-height: 2rem;
  padding: 1rem;
}

footer {
  text-align: center;
}

main {
  background-color: #e0e0e0;
}

@media only screen and (min-width: 992px)  {
  footer {
    padding-left: 200px;
  }

  main {
    margin-left: 200px;
  }
}

main > div {
  padding-bottom: 2rem;
  background-color: gray;
}

.hide {
  visibility: hidden;
}

.projects-nav {
  background-color: #d2d2d2;
}

.creations-nav {
  background-color: #d4d4d4;
}

.experiences-nav {
  background-color: #d6d6d6;
}

.contact-info-nav {
  background-color: #d8d8d8;
}

.image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 1rem;
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.toggle-collapse {
  cursor: pointer;
  opacity: 0.5;
}

.toggle-collapse:hover {
  opacity: 1;
}

.collapse-hide {
  box-sizing: border-box;
  padding: 0 1rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height .5s cubic-bezier(0, 1, 0, 1);
}

.collapse-show {
  background-color: gray;
  padding: 0 1rem 1rem;
  max-height: 99em;
  transition: max-height .5s ease-in-out;
}

#fatta {
  color: white;
  background-color: black;
  background-image: url("../img/fatta.png");
  height: 212px;
}

#canyoudrinkthewater {
  background-color: lightblue;
  /* background-image: url("../img/canidrinkthewater.png"); */
  /* height: 220px; */
}

#collapse-canyoudrinkthewater {
  background-color: lightskyblue;
  /* background-image: url("../img/canidrinkthewater.png"); */
}

#hope {
  background-image: url("../img/hope.jpg");
  height: 320px;
}

#ripple {
  background-color: #e0e0e0;
  background-image: url("../Studio\ Ripple/StudioRipple2.0\ copy.png");
  height: 500px;
}

#collapse-ripple {
  background-color: #e0e0e0;
}

#li {
  background-image: url("../Cartoon/li-avatar.png");
  height: 500px;
}

#emil {
  background-image: url("../Cartoon/emil-avatar_square_white.png");
  height: 500px;
}

#kuma {
  background-image: url("../Kuma/RilakkumaKorilakkuma.gif");
  height: 500px;
}

#experience-1 {
  background-color: pink;
  height: 500px;
}

#contact-info-row-1 {
  background-color: greenyellow;
  height: 500px;
}